* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  max-width: 1400px;
  height: 100vh;
  overflow: hidden;
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;

  /* font-family: "source-sans-3", sans-serif;
font-weight: 400;
font-style: normal; */
  /* letter-spacing: 1.2px; */
  background: #11100C;
  color: #FFFAED;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio-h1 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  padding-bottom: 0.5em;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 0.25em;
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #FFFAED;
}

i {
  padding-right: 0.25em;
}

.footer a {
  font-size: 14px;
}

#item-link {
  color: #11100C;
}

#item-category {
  font-size: 14px;
}

.mail-link {
  padding-top: 0.5em;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2em 4em;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.about-img {
  width: 25%;
  height: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2em 4em 2em 2em;
}

.items {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  padding: 0.25em 0;
  cursor: pointer;
}

.item-index {
  flex: 1;
}

.item-name {
  flex: 4;
}

.item-year {
  flex: 1;
}

.overlay {
  position: absolute;
  bottom: -1200px;
  right: 0;
  width: 70%;
  height: 100vh;
  padding: 2em;
  background: #FFFAED;
  color: #11100C;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  will-change: bottom;
  transform: translateZ(0) rotate(20deg);
  transform-origin: bottom center;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.img-container {
  width: 100%;
  padding-bottom: 2em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em 0;
}

.col:nth-child(1) {
  flex: 3;
}

.col:nth-child(2) {
  flex: 2;
}

#close-btn {
  cursor: pointer;
  opacity: 0.4;
}

.item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0 4em 0;
}

.item-details p:nth-child(1) {
  flex: 3;
}

.item-details p:nth-child(2) {
  flex: 2;
}

@media (max-width: 900px) {

  .nav {
    gap: 2.5em;
    padding: 2em;
  }

  .container {
    padding: 2em;
  }

  .items {
    width: 100%;
    bottom: 8em;
  }

  .overlay {
    width: 100%;
    padding: 2em
  }

  .about-text {
    width: 100%;
  }

  .about-img {
    display: none;
  }

  .item-name {
    flex: 2;
  }

  .item-index {
    display: none;
  }

  .footer {
    padding: 1em 2em;
  }
}

  @media (max-width: 576px) {
    p {
      font-size: 14px;
    }

    h3 {
      font-size: 20px;
    }


    .footer a {
      font-size: 12px;
    }


    .footer {
      padding: 1.25em;
    }

    .items {
      bottom: 3em;
    }

    .item-details {
      padding: 1em 0;
    }

    .overlay-header {
      padding: 1em 0;
    }

    .container {
      padding: 1.25em;
    }

    .nav {
      padding: 1.25em;
    }

    .overlay {
      padding: 1.25em;
      padding-top: 4em;
      height: 100% !important;
      z-index: 3;
    }
}






